{% extends "base.html" %}

{% block js %}
	<script>
		CampBoard.Admin = CampBoard.Admin || {};

		CampBoard.Admin.SessionAdd = function(sess) {
			CampBoard.send_message('session_add', null, sess);
			$('#session-add').val('');
		}
		
		CampBoard.Admin.SessionRemove = function(sess) {
			CampBoard.send_message('session_remove', null, sess);
			$('#session-remove').val('')
		}
		
		CampBoard.Admin.MessageBroadcast = function(msg) {
			CampBoard.send_message('broadcast_message', null, msg);
		}
	</script>
{% end %}

{% block main %}
	<h1>Admin</h1>
	<div id="admin-stats">
		<ul id="admin-stats-list">
			<li class="admin-stats">Total tweeters: <span id="total-tweets">0</span></li>
			<li class="admin-stats">Unique tweeters: <span id="unique-tweeters">0</span></li>
			<li class="admin-stats">Total sessions: <span id="total-sessions">0</span></li>
		</ul>
	</div>
	
	<div id="admin-sessions">
		<h1>Sessions</h1>
		<ul id="session-stats-list">
			<li class="placeholder">None yet.</li>
		</ul>
	</div>
	
	<div id="admin-controls">
		<li><input type="text" placeholder="Add session?" id="session-add"><input type='submit' value="Add session" onclick="CampBoard.Admin.SessionAdd($('#session-add').val())"></li>
		<li><input type="text" placeholder="Remove session?" id="session-remove"><input type='submit' value='Remove session' onclick="CampBoard.Admin.SessionRemove($('#session-remove').val())"></li>
		<li><input type="text" placeholder="Broadcast message" id="message-broadcast"><input type='submit' value='Broadcast message' onclick="CampBoard.Admin.MessageBroadcast($('#message-broadcast').val())"></li>
	</div>

{% end %}