{% extends "base.html" %}

{% block main %}
		<header><h1>Statistics</h1></header>


		<div id="main-stats">
			<div id="tweet-stats">
				<header class="stats-header styled-header"><h2>tweets</h2></header>
				<ul class="stats-list">
					<li><h2><span class="stats-label">Total tweets</span>  <span class="stats-value" id="total-tweets">0</span></h2></li>
					<li><h2><span class="stats-label">Unique users</span>  <span class="stats-value" id="unique-tweeters">0</span></h2></li>
				</ul>
			</div>
			
			<div id="session-stats">
				<header class="stats-header styled-header"><h2>sessions</h2></header>
				<ul class="stats-list" id="session-stats-list">
					<li class="placeholder">None yet</li>
				</ul>
			</div>	
		</div>
				
		<div id="main-recent">
			<header class="styled-header"><h2>recent<br>&nbsp;&nbsp;tweets</h2></header>
			<ul id="recent-tweets">
				<li class="placeholder">None yet</li>
			</ul>
		</div>	
		
{% end %}