{% extends "base.html" %}

{% block main %}

	<div id="index">
		<div id="stats">
			<div id="tweet-stats">
				<header class="stats-header styled-header"><h2>tweets</h2></header>
				<ul class="stats-list">
					<li><h2 class="stats-label">Total tweets</h2>  <span class="stats-value" id="total-tweets">{{ stats['total_tweets'] }}</span></li>
					<li><h2 class="stats-label">Unique users</h2>  <span class="stats-value" id="unique-tweeters">{{ stats['uniques'] }}</span></li>
				</ul>
			</div>
			
			<div id="session-stats">
				<header class="stats-header styled-header"><h2>sessions</h2></header>
				<ul class="stats-list" id="session-stats-list">
					{% if stats['sessions'] %}
						{% for sess in stats['sessions'] %}
							<li id="session-{{ sess[0] }}" class="session">
								<h2 class="stats-label session-title"><a href="/session/{{ sess[0] }}/" title="{{ sess[0] }}">#{{ sess[0] }}</a></h2>
								<span class='session-count stats-value'>+{{ sess[1] }}</span>
							</li>
						{% end %}
					{% else %}
						<li class="placeholder"><h2>None yet</h2></li>
					{% end %}
				</ul>
			</div>	
		</div>

		<div id="recent-tweets" class="panel">
			<header class="styled-header"><h2>recent<br>&nbsp;&nbsp;tweets</h2></header>
			<ul id="tweets">
				{% if stats['recent_tweets'] %}
					{% for tweet in stats['recent_tweets'] %}
						<li>
							<div class="tweet">
								<a class="tweet-image" href="http://twitter.com/{{ tweet['user']['screen_name'] }}/"><img height="48px" width="48px" src="{{ tweet['user']['profile_image_url'] }}" alt="@{{ tweet['user']['screen_name'] }}" title="@{{ tweet['user']['screen_name']}}"></a>
								<p class="tweet-text">{{ tweet['text'] }}</p>
							</div>
							<small class='tweet-permalink'><a href='http://twitter.com/{{ tweet['user']['screen_name'] }}/status/{{ tweet['id'] }}/'>permalink</a></small>
						</li>
					{% end %}
				{% else %}
					<li class="placeholder"><h2>None yet.</h2></li>
				{% end %}
			</ul>
		</div>	
	</div>
{% end %}