{% extends 'base.html' %}

{% block title %} - #{{ session }}{% end %}

{% block pageheading %} - #{{ session }}{% end %}

{% block main %}
	<div id="session-votes">
		<h2>Votes</h2>
		<ul>
			{% if stats['votes']['positive'] + stats['votes']['negative'] > 0 %}
				<li><span class="session-vote">Positive</span> - <span id="session-vote-positive" class="session-vote-count">{{ stats['votes']['positive'] }}</span></li>
				<li><span class="session-vote">Negative</span> - <span id="session-vote-negative" class="session-vote-count">{{ stats['votes']['negative'] }}</span></li>
			{% else %}
				<li><span class="placeholder">No votes yet</span></li>
			{% end %}
		</ul>
		<h2><span class="session-vote">Total votes</span> - <span id="session-votes-total">{{ stats['votes']['positive'] + stats['votes']['negative'] }}</span></h2>
		<h2><span class="session-vote">Total mentions</span> - <span id="session-tweet-count">{{ stats['tweet_count'] }}</span></h2>

		<div id="session-graph">
			<!-- Implement graph here -->
			<img src="http://chart.apis.google.com/chart
				   ?chxs=0,676767,40
				   &chxt=x
				   &chs=300x150
				   &cht=p
				   &chco=5B9DC8
				   &chd=t:{{ stats['votes']['positive'] }},{{ stats['votes']['negative'] }}
				   &chp=0.628
				   &chl=Yes|No" height="150" width="300">
		</div>
	</div>

	<div id="session-recent">
		<h2>Recent comments on #{{ session }}</h2>
		<ul id="recent-tweets">
			{% if stats['recent_tweets'] %}
				{% for tweet in stats['recent_tweets'] %}
					<li class="tweet">
						<a class="tweet-image" href="http://twitter.com/{{ tweet['user']['screen_name'] }}/"><img src="{{ tweet['user']['profile_image_url'] }}" alt="@{{ tweet['user']['screen_name'] }}"></a>
						<p class="tweet-text">{{ tweet['text'] }}</p>
						<small class='tweet-permalink' target='_blank'><a href='http://twitter.com/{{ tweet['user']['screen_name'] }}/status/{{ tweet['id'] }}/'>permalink</a></small>;  
					</li>
				{% end %}
			{% else %}
				<li class="placeholder">No comments yet.</li>
			{% end %}
		</ul>
	</div>

{% end %}